extend shared/skeleton

block append Head

	link(rel='stylesheet', href='/css/issue.css')

block append Content

	.issue-container.container
		
		.breadcrumb-container
			
			ul.breadcrumb#issue-breadcrumb
				li
					a(href='/#{params.username}')
						i.icon.icon-user
						| &nbsp;#{params.username}
					span.divider /
				li
					a(href='/#{params.username}/#{params.kanId}')
						i.icon.icon-book
						| &nbsp;#{params.kanId}
					span.divider /
				li.active
					| 第#{params.issue.slice(0, -2)}期

				li.pull-right(style='margin-top:-3px')
					.btn-group
						a.btn.btn-small
							i.icon.icon-info-sign
							| &nbsp;关于
						a.btn.btn-small
							i.icon.icon-wrench
							| &nbsp;设置

		// 内容
		.issue-canvas-container
			canvas#mainCanvas

		#reader-controller
			span.rc-btn.list-btn(data-toggle='tooltip', data-placement='top', data-original-title='期刊目录')
				i.icon.icon-th-list
			span.rc-btn.prev-btn(data-toggle='tooltip', data-placement='top', data-original-title='上一页')
				i.icon.icon-chevron-left
			span.rc-label#rc-page-nav
			span.rc-btn.next-btn(data-toggle='tooltip', data-placement='top', data-original-title='下一页')
				i.icon.icon-chevron-right
			span.rc-btn.toggle-btn(data-toggle='tooltip', data-placement='top', data-original-title='收起')
				i.icon.icon-step-backward

		#issue-modal.modal.hide.fade(tabindex='-1', role='dialog')
			.modal-header
				button.close(type='button', data-dismiss='modal') x
				h3 期刊目录
			.modal-body
				p 正在为你加载目录，请稍等。。。
			.modal-footer
				.btn.btn-success 回到test1

block Module
	script(src='/scripts/pages/issue.js')