extend shared/skeleton

block append Head

	link(rel='stylesheet', href='/css/kan.css')

block append Content

	.kan-container.container
		.row

			// kan's Info
			.span2.offset1
				#kan-info
					p
						a(href='')
							img.img-polaroid(data-src='holder.js/170x200')
					h3 #{kan.name}
					p 描述: #{kan.description}
					p 标签: #{kan.tags}
					p
						.btn-group
							a.btn(href='/#{kan.user}', target='_blank') @创刊人
							a.btn 编辑

			// issues' list
			.span8
				ul.kan-thumbnails.thumbnails
					
					-var i = 0
					for issue in issues
						i = issue.id.match(/\d+$/)[0]
						li(style='width:20%')
							a.kan-thumbnail.thumbnail(href='#{kan.name}/#{i}th')
								img(data-src='holder.js/140x140')
								h5 第#{i}期
								//p #{issue.date.format('yyyy年m月d日')}

					// 分页Component
					.clearfix
					.pagination.pagination-centered
						ul
							li.disabled
								a &laquo;
							li.active
								a 1
							li.disabled
								a &raquo;


block Module
	script(src='/scripts/pages/kan.js')